{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
        <img class="bg-img" src="../static/img/home/banner_serralheiro.webp" alt="Banner serralheiro">

        <div class="container p-5">
            <div class="my-auto py-5">
                <h1 class="text-white fw-bold">A CASA DO<br><span style="color: #f00;">SERRALHEIRO</span></h1>
                <h6 class="text-white"><strong>Distribuidora de Ferro e Aço</strong> para serralherias há mais de 22 anos.</h3>
            </div>
        </div>
{% endblock %}