body {
    height: 5000px;
    overflow-x: hidden;
}

.bg-img {
    height: 80vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.btn-primary {
    background-color: #ff0000;
    border-color: #ff0000;
}

.btn-primary:hover {
    background-color: #cc0000;
    border-color: #cc0000;
}

.desktop-only {
    display: block;
}

.fw-extrabold {
    font-weight: 800;
}

.fw-black {
    font-weight: 900;
}

.header {
    height: 55vh;
}

.mobile-only {
    display: none;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
}

.products-section {
    margin-top: 10rem;
}

.products-section img {
    margin-left: 50px;
}

.text-primary {
    color: #f00 !important;
}

@media (max-width: 991px) {
    .products-section {
        margin-top: 5rem;
    }
}