body {
    height: 5000px;
    overflow-x: hidden;
}

.banner-img {
    height: 600px;
    width: 100vw;
    object-fit: cover;
    filter: brightness(0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.bg-img {
    height: 600px;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    left: 0;
    z-index: -1;
}

.btn-primary {
    background-color: #ff0000;
    border-color: #ff0000;
}

.btn-primary:hover {
    background-color: #cc0000;
    border-color: #cc0000;
}

.fw-extrabold {
    font-weight: 800;
}

.fw-black {
    font-weight: 900;
}

.header {
    height: 55vh;
}

.banner-text {
    margin-top: 135px;
    margin-bottom: 135px;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
}

.products-section {
    margin-top: 250px;
}

.products-section img {
    margin-left: 50px;
}

.services-img {
    width: 50%;
    height: 50%;
    position: relative;
    left: 55%;
    bottom: 345px;
    z-index: -1;
}

.services-section {
    margin-top: 225px;
    width: 60%;
}

.text-primary {
    color: #f00 !important;
}

@media (max-width: 991px) {
    .services-section {
        margin-top: 50px;
        margin-bottom: 5%;
        margin-left: 0;
        width: auto;
    }
    
    .services-img {
        width: 100%;
        height: auto;
        left: auto;
        bottom: auto;
        z-index: -1;
    }
}